* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

:root {
  --white: #fff;
  --green: hsl(75, 94%, 57%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);

  background-color: var(--grey900);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--grey800);
  border-radius: 10px;
  width: 350px;
  aspect-ratio: 3 / 4.5;
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  flex-grow: 1;
}

article header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

header img.avatar {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  max-width: 88px;
  margin-bottom: 15px;
}

header h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
}

header address {
  color: var(--green);
  font-weight: 600;
}

article > p {
  color: var(--white);
  text-align: center;
  font-size: 0.9rem;
}

footer ul.social-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 15px;
}

.social-links li {
  background-color: var(--grey700);
  border-radius: 5px;
  padding: 12px;
  text-align: center;

  &:hover {
    background-color: var(--green);
    cursor: url("assets/cursor/hand-pointer.svg") 12 12, auto;
  }

  &:hover a {
    color: var(--grey800);
    pointer-events: none;
  }
}

.social-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}

@media (max-width: 400px) {
  main {
    width: 90%;
  }
}

@media (max-width: 300px) {
  main {
    width: 285px;
    flex-shrink: 0;
  }
}
